.wtsapp {
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 99999;
    transition: all 0.4s;
    }
    .call{
     position: fixed;
    bottom: 100px;
    left: 25px;
    z-index: 99999;
    transition: all 0.4s;    
        
    }
     .callicon {
   /* background: #FFC107;*/
    border-radius: 50%;
    padding: 10px 16px;
     position: relative;
    float: left;
    transition: all 0.4s;
    cursor: pointer;
     }
     
     .callicon i {
    color: white;
    font-size: 2.5em;
    }
    .setheader{
        color: white; margin-top: -28px; margin-left: 30px;
    }
    .setheader2{
        color: white; margin-top: -28px; margin-left: 30px; color: white;
    }
    .wtsicon {
   /* background: #25d366;*/
    padding: 10px 16px;
    border-radius: 50%;
    position: relative;
    float: left;
    transition: all 0.4s;
    cursor: pointer;
    }
    .wtsicon i {
    color: white;
    font-size: 2.5em;
    }
    @media only screen and (max-width: 600px) {
        button.btn.btn-secondary.whatsapp-product-share {
          margin-top: 15px;
        }
      }

      .custom-share-button {
        position: fixed;
        bottom: 50%; /* Adjust this value to center vertically */
        right: 0;
        transform: translateY(-50%);
    }
    
    .custom-share-button img {
        width: 50px; /* Adjust the width and height as needed */
        height: 50px;
    }
    
.ui-autocomplete-clear{
    display: none !important;
}
